.home-container {
  padding: 24px;
  max-width: 1128px;
  margin: 0 auto;
  background-color: #f3f2ef;
}

.home-container ul {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 16px;
}

.home-container .btn-md {
  white-space: nowrap;
  margin: 0;
}
