* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  margin: 0;
  height: 100%;
}

.btn-md {
  height: min-content;
  min-height: 30px;
  border-radius: 36px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  width: fit-content;
  align-items: center;
  float: left;
  margin-right: 8px;
  margin-bottom: 12px;
}

.btn-md,
.btn-md:visited,
.btn-md:focus,
.btn-md:hover {
  cursor: pointer;
  text-decoration-line: none;
  background-color: darkgray; /* Darker blue on hover */
}

.btn-secondary,
.btn-secondary:visited,
.btn-secondary:focus {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.75);
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0.75);
}

ul {
  list-style: none;
}
